.cart-container {
    padding: 2rem;
  }
  
  .cart-heading {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    gap: 5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item-image {
    width: 200px;
    height: 35vh;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 8rem ;
  }
  
  .cart-item-price,
  .cart-item-type,
  .cart-item-size,
  .cart-item-color,
  .cart-item-duration {
    margin: 1rem 1rem;
  }
  
  .cart-item-remove {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 0.5rem 4rem;
    border-radius: 4px;
    margin-left: 7rem;
    cursor: pointer;
  }
  
  .cart-item-remove:hover {
    background-color: #c0392b;
  }

  .cart-pay-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cart-pay-button:hover {
    background-color: #218838;
  }
  